body{
    font-family: arial, sans-serif;
    background-color: #f7f7f7;
    margin: 20px
}
h1 , h2{
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
}
p{
    font-size: 18px;
    color: #555;
}
ul{
    list-style-type: square;
}
/*Button style8*/
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin:20px auto;
}

button:hover {
    background-color: #45a049;
}
/*make the profile image small and round*/
.profile-img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 4px solid #4CAF50;

}
/*Center and style the content */
.container{
    max-width: 600px;
    margin:0 auto;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* NAVBAR STYLING */
.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #333;
    padding: 15px 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 20px;
    
}

.logo {
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    }

 .nav-links a:hover {
    text-decoration: underline;
 }   

 .flex-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
 }

 .box {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
 }

 /* Mobile styles */
 @media (max-width: 600px) {
    .flex-direction {
        flex-direction: column;
    }
 

 .box{
    margin-bottom: 20px;
 }

 .navbar {
    flex-direction: column;
    gap: 10px;
 }

}
 .contact{
    text-align: center;
    padding: 40px 20px;
    background-color: #f7f7f7;
    margin-top: 40px;
 }

 .contact h2{
    font-size: 2rem;
    margin-bottom: 10px;
 }

 .conatct-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease;
 }

 .contact-btn:hover{
    background-color: #45a049;
 }