body{
    font-family: arial, sans-serif;
    background-color: #f7f7f7;
    margin: 20px
}
h1{
    color: #333;
    text-align: center;
}
p{
    font-size: 18px;
    color: #555;
}
ul{
    list-style-type: square;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    border: 4px solid #4CAF50;

}

.container{
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0);
}